body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f9f9fa;
  text-align: left;
}

#wrapper {
  display: flex;
}

.sidebar {
  width: 14rem !important;
  min-height: 100vh;
}

.bg-gradient-primary {
  background-color: #f5f5f6 !important;
  background-size: cover;
}
.accordion {
  overflow-anchor: none;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 1.5px;
}

dl,
ol,
ul {
  margin-top: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sidebar-dark .sidebar-brand {
  color: dodgerblue;
}
.sidebar .sidebar-brand {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1rem;
  text-align: left;
  letter-spacing: -1px;
  line-height: 1;
  z-index: 1;
}
.align-items-center {
  align-items: left !important;
}
.justify-content-center {
  justify-content: left !important;
}
.d-flex {
  display: flex !important;
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.logo {
  max-width: 100%;
  height: 28px;
}

.sidebar .sidebar-brand .sidebar-brand-text {
  display: inline;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.sidebar hr.sidebar-divider {
  margin: 0 1rem 1rem;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}

hr {
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.sidebar-dark .sidebar-heading {
  color: rgba(255, 255, 255, 0.4);
}
.sidebar .sidebar-heading {
  text-align: left;
  padding: 0 1rem;
  font-size: 0.8rem;
  color: gray;
}

.sidebar .nav-item {
  position: relative;
}

.sidebar-dark .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.sidebar .nav-item .nav-link {
  display: block;
  text-align: left;
  /* padding: 1rem; */
  padding: 0 1.5rem;

  color: rgb(119, 116, 116);
}
.nav-caret {
  width: 0.1rem;
  opacity: 0.45;
  position: relative;
  margin-top: 2rem;
  float: right;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  float: right;
  margin-top: 1.2rem;
}

.calendar-dot {
  background-color: red;
}

.messages-dot {
  background-color: gold;
}

.nav-caret::after {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: transparent currentColor currentColor transparent;
  transform: rotate(-45deg);
  margin-bottom: 1px;
}

.first {
  padding-top: 0.5rem;
}

.sidebar .nav-item .nav-link,
.topbar .nav-item .nav-link {
  position: relative;
}

.sidebar-dark .nav-item .nav-link i {
  font-size: 0.85rem;
  margin-right: 0.25rem;
  /* color: grey; */
}
.sidebar .nav-item .nav-link i {
  font-size: 0.85rem;
  margin-right: 0.25rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  color: gray;
}

.bi-house-door {
  color: dodgerblue;
}

.bi-calendar {
  color: lightseagreen;
}

.dashboard {
  color: dodgerblue;
}
.bi-people {
  color: green;
}

.bi-chat {
  color: gold;
}

.feather-mail {
  color: hotpink;
}

.sidebar .nav-item .nav-link span {
  margin: 0 0.9rem;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  line-height: 1.125rem;
  transition: opacity 0.15s ease-in-out;
  padding: 0.6875rem 0;
}

/* 
 */

.layout-row > .flex {
  min-width: 0;
}
.flex {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}
.layout-column {
  flex-direction: column;
}
.layout,
.layout-column,
.layout-row {
  display: flex;
}

.sticky {
  position: sticky;
  top: 0;
}
.page-header {
  z-index: 1035 !important;
  transition: background-color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.navbar {
  min-height: 3.75rem;
  padding: 0.75rem 1rem;
  display: flex;
  position: relative;
  align-items: center;
}
.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
.order-lg-1 {
  order: 1;
}

.mb-lg-0,
.my-lg-0 {
  margin-bottom: 0 !important;
}
.mt-lg-0,
.my-lg-0 {
  margin-top: 0 !important;
}
.m-2 {
  margin: 0.5rem !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-prepend {
  margin-right: -1px;
}
.input-group-append,
.input-group-prepend {
  display: flex;
}

.material-icons.md-18 {
  font-size: 10px;
}

.input-group > .input-group-prepend > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-append .btn,
.input-group-prepend .btn {
  position: relative;
  z-index: 2;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.text-inherit,
.text-inherit a {
  color: inherit;
}
.no-shadow {
  box-shadow: none !important;
}
.no-bg {
  background: 0 0 !important;
}
.btn {
  font-weight: 500;

  display: inline-flex;
  -webkit-box-align: center;

  align-items: center;
  -webkit-box-pack: center;

  justify-content: center;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.btn {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  border-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

.no-border {
  border-color: transparent !important;
  border-width: 0 !important;
}
.no-shadow {
  box-shadow: none !important;
}
.no-bg {
  background: 0 0 !important;
}
.form-control {
  border-radius: 0.25rem;
  color: inherit;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.4285714286em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285714286;

  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-top-width: 1px;
  border-right-color: rgb(206, 212, 218);
  border-right-width: 1px;
  border-bottom-color: rgb(206, 212, 218);
  border-bottom-width: 1px;
  border-left-color: rgb(206, 212, 218);
  border-left-width: 1px;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

.navbar-menu {
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}
.nav {
  border: inherit;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.order-lg-2 {
  order: 2;
}

.nav-item {
  position: relative;
  border: inherit;
}
.d-sm-block {
  display: block !important;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
.navbar .nav-link {
  white-space: nowrap;
}
.nav-link {
  border: inherit;
  position: relative;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.nav-link {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0.5rem;
  line-height: 2.5rem;
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.nav-text {
  margin: 0 0.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 1.125rem;
  transition: opacity 0.15s ease-in-out;
  padding: 0 !important;
  /* background-color: red; */
}

.nav-item {
  border: inherit;
  position: relative;
}

.bg-primary {
  color: #fff !important;
}
.badge-up {
  padding: 0 0.25rem;
  position: absolute;
  right: 0;
  transform: translate(0, -50%);
  background-clip: padding-box;
  min-width: 1rem;
  min-height: 1rem;
  line-height: 1rem;
}
.bg-primary {
  background-color: #448bff !important;
}
.badge-pill {
  border-radius: 10rem;
}
.badge {
  display: inline-block;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.icon {
  display: inline;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 !important;
  height: 20px;
  width: 20px;
  /* background-color: yellow; */
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.align-items-center {
  align-items: center !important;
}

.w-24 {
  width: 24px !important;
  height: 24px !important;
  font-size: 0.7em;
}
.avatar {
  position: relative;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

.avatar img {
  border-radius: inherit;
  width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

.layout-column > .flex {
  min-height: 0;
}
.flex {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}
.page-container {
  max-width: 1140px;
  margin: 0 auto;
}

.padding {
  padding: 2rem;
}

.text-md {
  font-size: 1.25rem;
}
.h1,
.h2 {
  color: #192039;
}

.h1,
.h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2 {
  margin-top: 0;
}

.text-muted {
  color: #99a0ac !important;
}
small {
  font-size: 0.825rem;
}
.small,
small {
  font-weight: 400;
}

b,
strong {
  font-weight: 500;
}

.btn-md {
  padding: 0.75rem 1.25rem;
}

.text-muted {
  color: #99a0ac !important;
}
.btn {
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.d-sm-inline {
  display: inline !important;
}

.row-sm {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.row-sm [class*="col-"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.col-lg-8,
.col-md-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
}

.col-lg-8,
.col-md-12 {
  position: relative;
  width: 100%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.row-sm .card {
  margin-bottom: 1rem;
}
.block,
.card {
  /* background: red; */
  border-width: 0;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;

  /* border: 1px solid rgba(19, 24, 44, 0.125); */
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.mt-2,
.my-2 {
  margin-top: 0rem !important;
}

.text-info {
  color: #14bae4 !important;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}

.text-primary {
  color: #448bff !important;
}

.circle {
  border-radius: 500px;
}
.progress {
  overflow: visible;
  background-color: rgba(135, 150, 165, 0.1);
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.progress {
  display: flex;
  font-size: 0.65625rem;
}

.gd-primary {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
}
.progress-bar {
  height: 100%;
  text-align: center;
  font-size: 0.8em;

  transition: width 0.6s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;

  white-space: nowrap;
}

.gd-warning {
  color: #fff;
  border: none;
  background: #f4c414 linear-gradient(45deg, #f4c414, #f45414);
}

.col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.py-3 {
  padding-top: 1rem !important;
}

.graph-text {
  padding-top: 1rem !important;
}

.circle-graph {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pt-3 {
  padding-top: 0.5rem !important;
}

.pos-rlt {
  position: relative;
}

.pos-abt {
  position: absolute;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}

.usd {
  background-color: #14bae4;
}

.d-md-flex {
  display: flex !important;
}

.h-1x {
  height: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.w-50 {
  width: 50% !important;
}

.directly,
.conversion {
  margin-top: 10px;
}

.searchengine {
  margin-top: 12px;
}

.below-map {
  margin-top: 20px;
}

.map {
  height: 185px;
  width: 30em;
}

.gd-success {
  color: #fff;
  border: none;
  background: #31c971 linear-gradient(45deg, #31c971, #3dc931);
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.text-success {
  color: #31c971 !important;
}

.text-danger {
  color: #f54394 !important;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}
.gd-danger {
  color: #fff;
  border: none;
  background: #f54394 linear-gradient(45deg, #f54394, #f543ed);
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.p-3-4 {
  padding: 1.25rem;
}

.btn-group-toggle {
  display: inline-flex;
  padding: 0.25rem 0.125rem;
  border: 1px solid rgba(160, 175, 185, 0.15);
  border-radius: 0.25rem;
}

.btn-group-toggle .btn {
  font-size: 0.75rem;
  padding: 0.125rem 0.35rem;
  margin: 0 0.125rem !important;
  border-radius: inherit !important;
}

.btn-group-toggle > .btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
button,
input {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn-group-toggle .btn.active {
  color: #fff !important;
  background-color: #448bff;
}

.list {
  padding-left: 0;
  padding-right: 0;
}

.list-row .list-item {
  flex-direction: row;

  align-items: center;
  padding: 0.75rem 0.625rem;
}

.list-item {
  position: relative;

  display: flex;

  min-width: 0;
  word-wrap: break-word;
}

.list-row .list-item > * {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.ui-check {
  position: relative;
  cursor: pointer;
}

label {
  display: inline-block;
}

.ui-check input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.dropdown {
  position: relative;
}

.ui-check.ui-check-rounded > i {
  border-radius: 50%;
}
.ui-check-md > i {
  width: 20px;
  height: 20px;
}
.ui-check > i {
  line-height: 1;
  box-shadow: 0 0 0 1px rgba(135, 150, 165, 0.35);
  display: inline-block;
  vertical-align: middle;
  background-clip: padding-box;
  position: relative;
  left: 0;
  margin-right: 0.3rem;
}

.ui-check > i::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 1px;
}

@media (max-width: 1200px) {
  .navbar-nav {
    display: none;
  }
  .input-group {
    display: none;
  }
}
