.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  min-height: 100%;
  height: auto;
}

.header {
  grid-area: header;
  display: block;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
}

.main {
  grid-area: main;
  background-color: #ecf0f5;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}

.sidenav {
  display: flex;
  flex-direction: column;
  grid-area: sidenav;
  background-color: #394263;
}

.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.main-header {
  display: flex;
  justify-content: center;
  object-fit: cover;
  margin: 15px;
  padding: 0px;
  height: 29em;
  background-color: white;
  color: slategray;
  border-top: 3px solid #d2d6de;
}

.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 15px;
}

.overviewcard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #d3d3; */
  /* padding: 20px; */
  /* position: relative; */
  /* min-height: 1px; */
  /* float: left; */
}

/* .main-cards {
  column-count: 2;
  column-gap: 20px;
  margin: 15px;
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #82bef6;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  /* padding: 24px; */
  box-sizing: border-box;
}

.card:first-child {
  /* height: 350px; */
  border-top-color: #00a65a;
}

.card:nth-child(2) {
  /* height: 72.5px; */
  /* width: 25em; */
  /* margin-bottom: 20px; */
}

.card:nth-child(3) {
  /* height: 72.5px; */
  /* width: 25em; */
}
.card:nth-child(4) {
  /* height: 72.5px; */
  /* width: 25em; */
}
.card:nth-child(5) {
  /* height: 72.5px; */
  /* width: 25em; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Side nav is hidden on mobile */
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.sidenav {
  display: none;
  grid-area: sidenav;
  background-color: #394263;
}

.main-cards {
  column-count: 1;
  column-gap: 20px;
  margin: 15px;

  /* width: 100%;
    float: left;
    position: relative;
min-height: 1px; */
}

@media only screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .sidenav {
    display: flex;
    flex-direction: column;
  }

  .card:nth-child(2) {
    /* height: 72.5px; */
    width: 25em;
    /* margin-bottom: 20px; */
  }

  .card:nth-child(3) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(4) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(5) {
    /* height: 72.5px; */
    width: 25em;
  }
}

@media only screen and (min-width: 65.625em) {
  /* Break out main cards into two columns */
  .main-cards {
    column-count: 2;
    width: 139%;
    /* margin: 15px;
  width: 120%;
    float: left;
    position: relative;
min-height: 1px; */
  }

  .card:nth-child(2) {
    /* height: 72.5px; */
    width: 25em;
    /* margin-bottom: 20px; */
  }

  .card:nth-child(3) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(4) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(5) {
    /* height: 72.5px; */
    width: 25em;
  }
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 5px;
  left: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #dadae3;
}

.header__search {
  margin-left: 42px;
}

.header__avatar {
  position: relative;
  line-height: 1;
  white-space: nowrap;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.15);
}

.w-24 {
  width: 24px !important;
  height: 24px !important;
  font-size: 0.7em;
}

.header__avatar img {
  border-radius: inherit;
  width: 100%;
}

.sidenav {
  grid-area: sidenav;
  display: flex;
  flex-direction: column;
  /* height: 105%; */
  width: 240px;
  position: fixed;
  /* overflow-y: auto; */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background-color: #394263;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
}

.sidenav.active {
  transform: translateX(0);
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

@media only screen and (min-width: 46.875em) {
  .sidenav {
    position: relative;
    transform: translateX(0);
  }

  .sidenav__close-icon {
    visibility: hidden;
  }

  .card:nth-child(2) {
    /* height: 72.5px; */
    width: 25em;
    /* margin-bottom: 20px; */
  }

  .card:nth-child(3) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(4) {
    /* height: 72.5px; */
    width: 25em;
  }
  .card:nth-child(5) {
    /* height: 72.5px; */
    width: 25em;
  }
}

.grid-main-header .navbar-custom-menu,
.grid-main-header .navbar-right {
  float: right;
}
* {
  box-sizing: border-box;
}

.navbar-custom-menu > .navbar-nav {
  float: right;
}
.navbar-custom-menu .navbar-nav {
  margin: 0;
}

.nav {
  padding-left: 0;

  list-style: none;
}

.navbar-custom-menu > .navbar-nav > li {
  position: static;
}

.navbar-custom-menu .navbar-nav > li {
  float: left;
}

.nav > li {
  display: block;
}

.whole-body .grid-main-header .navbar .nav > li > a {
  color: #fff;
}
.navbar-custom-menu .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.grid-main-header .navbar-custom-menu a {
  background: transparent;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.grid-main-header .navbar .nav > li > a > .label {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: 0.9;
}
.label-success {
  background-color: #00a65a !important;
}

.label-success,
.label-warning,
.label-danger {
  color: #fff !important;
}

.label-danger {
  background-color: #dd4b39 !important;
}

.label {
  display: inline;
  font-weight: 700;
  white-space: nowrap;
  border-radius: 0.25em;
}

.label-warning {
  background-color: #f39c12 !important;
}

.grid-main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  color: white;
  padding: 15px 15px;
  font-family: fontAwesome;
}

.whole-body .sidenav .logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.sidenav .logo {
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 240px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  /* overflow: hidden; */
}
.sidenav .logo .logo-mini {
  display: none;
}

b,
strong {
  font-weight: 700;
}

.sidenav .logo .logo-lg {
  display: block;
}

.grid-main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}

.whole-body .grid-main-header .navbar {
  background-color: #3c8dbc;
}
.grid-main-header .navbar {
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
}

.navbar-static-top {
  z-index: 1000;
}

.navbar {
  position: relative;
}
nav {
  display: block;
}

.whole-body .sidenav {
  background-color: #222d32;
}
.sidenav {
  /* position: absolute; */
  top: 0;
  left: 0;
  min-height: 100%;
  width: 240px;
  z-index: 810;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
aside {
  display: block;
}

.whole-body .wrapper {
  background-color: #222d32;
}
.wrapper {
  /* position: relative; */
  /* overflow-x: hidden;
    overflow-y: auto; */
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
.nav > li > a > img {
  max-width: none;
}

img {
  border: 0;
}

.sidebar {
  padding-bottom: 10px;
}
section {
  display: block;
}

.sidenav .user-panel {
  white-space: nowrap;
  overflow: hidden;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
}

.pull-left {
  float: left !important;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
img {
  vertical-align: middle;
  border: 0;
}

.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
  color: white;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}
p {
  margin: 0 0 10px;
}

.whole-body .user-panel > .info > a {
  color: #fff;
}
.whole-body .sidebar a {
  color: #b8c7ce;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}
a {
  color: #3c8dbc;
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

.user-panel > .info > a > .fa {
  margin-right: 3px;
}

.text-success {
  color: #3c763d;
}

.whole-body .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.sidebar-form {
  overflow: hidden;
  text-overflow: clip;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.whole-body .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.form-control {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;

  background-image: none;

  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}

input {
  font-family: inherit;
  margin: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}

.whole-body .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.input-group-btn:last-child > .btn {
  z-index: 2;
  margin-left: -1px;
}

.input-group-btn > .btn {
  position: relative;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  touch-action: manipulation;
  cursor: pointer;
  background-image: none;

  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;

  user-select: none;
}
button {
  font-family: inherit;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  font: inherit;

  margin: 0;
}

.sidebar-menu {
  white-space: nowrap;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}

.whole-body .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}

.whole-body .sidebar-menu > li.active > a {
  border-left-color: #3c8dbc;
}
.whole-body .sidebar-menu > li.active > a,
.whole-body .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}
.whole-body .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}

.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu > li > a > .fa {
  width: 20px;
}

.sidebar-menu li > a > .pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}

.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
  transform: rotate(-90deg);
}
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  transition: transform 0.5s ease;
}
.fa.pull-right {
  margin-left: 0.3em;
}

.whole-body .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.treeview.menu-open > ul.treeview-menu {
  overflow: visible;
  height: auto;
}
.sidebar-menu .active > .treeview-menu {
  display: block;
}
.treeview > ul.treeview-menu {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.treeview-menu {
  list-style: none;
  padding: 0;
  padding-left: 5px;
}

.treeview-menu > li {
  margin: 0;
}

.whole-body .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}

.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

.treeview-menu > li > a > .fa {
  width: 20px;
}

.whole-body .sidebar-menu .treeview-menu > li.active > a {
  color: #fff;
}

.sidebar-menu > li .label {
  margin-right: 5px;
}
.label-primary {
  background-color: #3c8dbc !important;
  color: #fff !important;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 750;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.bg-green {
  background-color: #00a65a !important;
  color: #fff !important;
}

.bg-red {
  background-color: #dd4b39 !important;
  color: #fff !important;
}

.bg-blue {
  background-color: #0073b7 !important;
  color: #fff !important;
}

.bg-yellow {
  background-color: #f39c12 !important;
  color: #fff !important;
}

.text-red {
  color: #dd4b39 !important;
}

.text-yellow {
  color: #f39c12 !important;
}

.text-aqua {
  color: #00c0ef !important;
}

.whole-body .content-header {
  background: transparent;
}
.content-header {
  position: relative;
  padding: 15px 15px 0 15px;
}
section {
  display: block;
}

.content-header > h1 {
  margin: 0;
  font-size: 24px;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.content-header > h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

h1 small {
  line-height: 1;
  color: #777;
}
.content-header > .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.breadcrumb {
  list-style: none;
}
.breadcrumb > li {
  display: inline-block;
}

.content-header > .breadcrumb > li > a {
  color: #444;
  text-decoration: none;
  display: inline-block;
}

.content-header > .breadcrumb > li > a > .fa {
  margin-right: 5px;
}

.breadcrumb > .active {
  color: #777;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.bg-aqua {
  background-color: #00c0ef !important;
  color: white;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: flex;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.ion {
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  text-transform: uppercase;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box small {
  font-size: 14px;
}

.bg-red {
  background-color: #dd4b39 !important;
  color: white;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.box.box-success {
  border-top-color: #00a65a;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.green-graph {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.info-box .progress {
  border-radius: 0;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 2px;
}

.info-box .progress .progress-bar {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}

.progress-bar {
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  transition: width 0.6s ease;
}
.progress-description {
  margin: 0;
  display: block;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
